* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #FFFFFF;
    --subtitle-color: #b9b9b9;
    --bg-url: url(./assets/bg-mobile.jpg);
    --profile-border: rgb(156, 170, 172);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(255, 255, 255, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./assets/moon-stars.svg)
}

.light {
    --text-color: #000000;
    --subtitle-color: #444444;
    --bg-url: url(./assets/bg-mobile-light.jpg);
    --profile-border: rgb(160, 176, 179); 
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.01);
    --highlight-color: rgba(0,0,0,0.05);
    --switch-bg-url: url(./assets/sun.svg)
}

body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

body {
    background: var(--bg-url) no-repeat top center/cover;
}

#container {
    width: 360px;
    height: 720px;
    margin: 56px auto 0px auto;
    padding: 0px 24px;
}

#profile {
    text-align: center;
    padding: 24px;
}

#profile img{
    width: 110px;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid var(--profile-border);
}

#profile #name {
    margin-top: 8px;
    font-weight: 500;
    line-height: 24px;
}

#profile #subtitle {
    color: var(--subtitle-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

#switch {
    position: relative;
    width: 64px;
    margin: 4px auto;
}

#switch button{
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;
    
    position:absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

.light #switch button {
    right: 0;
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;


    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 9999px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

ul li a {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 24px;
    font-weight: 500;
    background-color: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    
    text-decoration: none;

    transition: background 0.2s;
}

ul li a:hover {
    background-color: var(--surface-color-hover);
    border: 1.5px solid --text-color;
}

#social-links {
    display: flex;
    justify-content: center;
    gap: 4px;
    padding: 24px 0;
    font-size: 24px;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 50%;

    transition: background 0.2s;
}

#social-links a:hover {
    background-color: var(--highlight-color);
}

footer {
    padding: 24px;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    color: var(--text-color);
}